{{> navigation}}
<ul class="message-list">
  {{#each messages}}
    <li id="{{id}}">
      <h3>{{title}}</h3>
      <article>{{message}}</article>
      <div>{{author}}</div>
      <a href="/messages/delete?message-id={{id}}">Remove</a>
      <a href="/messages/edit?message-id={{id}}">Edit</a>
    </li>
  {{/each}}
</ul>
<a href="/messages/add">Add new post</a>
